*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fff;
}
.dbody{
	background-color: #85dfed;
	width: 100%;
	height: 100vh;
}
.loading{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 8.5rem;
	height: 4.5rem;
	display: flex;
	align-items: center;
}
.ldob:nth-child(2){
	animation-delay: 0.1s;
}
.ldob:nth-child(3){
	animation-delay: 0.2s;
}
.ldob:nth-child(4){
	animation-delay: 0.43s;
}
.ldob:nth-child(5){
	animation-delay: 0.554s;
}
.ldob:nth-child(6){
	animation-delay: 0.5s;
}
.ldob:nth-child(7){
	animation-delay: 0.64s;
}
.ldob:nth-child(8){
	animation-delay: 0.735s;
}
.ldob:nth-child(9){
	animation-delay: 0.421s;
}
.ldob:nth-child(10){
	animation-delay: 0.614s;
}
.ldob{
	width: 0.4rem;
	/* height: 3.4rem; */
	background-color: #fff;
	margin: 0 0.1rem;
	border-radius: 3px;
	animation: jj 1.012s ease infinite;
}
@keyframes jj{
	0%{
		height: 0;
		background-color: #fff;
	}
	50%{
		height: 3.4rem;
	}
	100%{
		height: 0;
	}
}